.boilerplate {
  width: 100%;
  
  display: grid;
  grid:
    "header header header" auto
    "leftSide    main  rightside" 1fr
    "footer footer footer" / auto 1fr auto;
  gap : 8px;
  min-height: 100vh;
}

.header{ 
  grid-area: header;
  background-color: #111116;
  color: white;
}

.leftSide{
  background-color: #151517;
  color: white;

}

.main{
  background-color: #151517;
  color: white;
  flex: 1;

}

.rightside{
  background-color: #151517;
  color: white;

}

.footer {
  background-color: #111116;
  display: grid;
  grid-template-columns: 1fr 8px 1fr; /* Tres columnas: dos flexibles y el divider con 8px */
  grid-template-rows: 1fr; /* Una fila */
  column-gap: 20px; /* Espacio entre las columnas */
  row-gap: 0px; /* Sin espacio entre filas */
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 5%;
  padding-right: 5%;
}


.footerLeft {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: left; /* Centra horizontalmente */

  color: white;
}

.footerdivider {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  background-color: #05445E;
  width: 6px;
  border-radius: 15px;

  margin-top: -15px;
  margin-bottom: -15px;
}

.footerRight {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  text-align: center;

  color: white;
}

.leftSide{ grid-area: leftSide; }
.main{ grid-area: main; }
.rightside{ grid-area: rightside; }
.footer{ grid-area: footer; }